<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    firstname : {{newuser.first_name}}
    lastname : {{newuser.last_name}}
    mobile : {{newuser.mobile}}
    profile : <img src='{{newuser.profile_pic.url}}' width="100px" height='100px'>
</body>
</html>
